<?xml version="1.0" encoding="utf-8"?>
<!-- config -->
<!-- Author: HaoJun0823 -->
<!-- DateCreated: 11/13/2021 11:58:25 PM -->
<GameData>
	<Players>
		<Row Domain="Players:Expansion2_Players" CivilizationType="CIVILIZATION_RUSSIA" LeaderType="LEADER_FGO_ANASTASIA" CivilizationName="LOC_CIVILIZATION_RUSSIA_NAME" CivilizationIcon="ICON_CIVILIZATION_RUSSIA" LeaderName="LOC_LEADER_FGO_ANASTASIA_NAME" LeaderIcon="ICON_LEADER_FGO_ANASTASIA" CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_MOTHER_RUSSIA_NAME" CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_MOTHER_RUSSIA_EXPANSION2_DESCRIPTION" CivilizationAbilityIcon="ICON_CIVILIZATION_RUSSIA" LeaderAbilityName="LOC_TRAIT_LEADER_FGO_ANASTASIA_NAME" LeaderAbilityDescription="LOC_TRAIT_LEADER_FGO_ANASTASIA_DESCRIPTION" LeaderAbilityIcon="ICON_LEADER_FGO_ANASTASIA" PortraitBackground="LEADER_FGO_ANASTASIA_NEUTRAL"/>
	</Players>
	<PlayerItems>
		<Row Domain="Players:Expansion2_Players"  CivilizationType="CIVILIZATION_RUSSIA" LeaderType="LEADER_FGO_ANASTASIA" Type="UNIT_RUSSIAN_COSSACK" Icon="ICON_UNIT_RUSSIAN_COSSACK" Name="LOC_UNIT_RUSSIAN_COSSACK_NAME" Description="LOC_UNIT_RUSSIAN_COSSACK_DESCRIPTION" SortIndex="10" />
		<Row Domain="Players:Expansion2_Players"  CivilizationType="CIVILIZATION_RUSSIA" LeaderType="LEADER_FGO_ANASTASIA" Type="DISTRICT_LAVRA" Icon="ICON_DISTRICT_LAVRA" Name="LOC_DISTRICT_LAVRA_NAME" Description="LOC_DISTRICT_LAVRA_DESCRIPTION" SortIndex="20" />
	</PlayerItems>
</GameData>
